body {
  display: flex;
  margin: 0px;
  justify-content: center;
  flex-flow:column;
  align-items: center;
  background-color: #20088c;
  font-family: 'Fira Sans';
}
/* end of body shenanigans */
#header {
  display: flex;
  width: 100%;
  height: 150px;
  background-color: #24488c;
  color: white;
  margin-bottom: 10px;
  padding-left: 20px;
  align-items: center;
}
    #header-1 {
      padding-left: 50px;
    }
/* end of head shenanigans */
#nav-menu {
  display:flex;
  color: beige;
  list-style-type: none;
  width: 963px;
  height: 50px;
  flex-flow: row;
  justify-content: space-around;
  margin-bottom: 0px;
}
.nav-item {
  display: flex;
  background-color:#24488c;
  border: solid 1px white;
  border-bottom: 0px;
  padding: 10px;
  align-items: center;
}
/* end of nav-menu shenanigans */
#main {
    color: white;
    background-color: #24488c;
    border: solid 1px white;
    padding: 15px;
    width: 963px;
    height: 3000px;
} /* end of main */   
#main-intro {
  display:flex;
  width: 963px;
  height: 450px;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
  /* border: 1px white solid; */
}
#main-intro1 {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 519px;
  height: 416px;
  padding-top: 0px;
  /* border: 1px white solid; */
}
  #mi-1 {
    font-size: 60px;
    width: 518px;
    margin-bottom: 5px;
    margin-top: 0px; 
    /* border: 1px white solid; */
  }
  #mi-logo {
    margin-top: 0px;
    /* border: 1px white solid; */
  }
  #mi-2 {
    font-size: 30px;
    width: 330px;
    /* border: 1px white solid; */
  }
/* end of main intro */
#main-resume {
  margin-top: 20px;
  display:flex;
  width: 963px;
  height: 820px;
  /* border: 1px white solid; */
  justify-content: space-around;
}
  #mr-edu {
    display:flex;
    width: 416px;
    height: 220px;
    flex-flow: column;
    align-items: center;
    /* border: 1px white solid; */
  }
    #edu-header {
      display:flex;
      width: 208px;
      height: 35px;
      font-size: 36px;
      border: 4px solid white;
      border-radius: 15px;
      align-items: center;
      justify-content: center;
      padding: 5px;
      margin-bottom: 0px;
    }
    #edu-info {
      width: 435px;
      height: 150px;
      font-size: 24px;
      /* border: 1px white solid; */
    }
  /* end of edu */
  #mr-ex {
    display:flex;
    width: 416px;
    height: 220px;
    flex-flow: column;
    align-items: center;
    /* border: 1px white solid; */
  }
    #ex-header {
      display:flex;
      width: 290px;
      height: 35px;
      font-size: 36px;
      border: 4px solid white;
      border-radius: 15px;
      align-items: center;
      justify-content: center;
      padding: 5px;
      margin-bottom: 0px;
    }
    #ex-info {
      margin-top: 0px;
      width: 250px;
      height: 223px;
      font-size: 21px;
      /* border: 1px white solid; */
    }
    .ex-info-li {
      font-family: "Fira Sans", sans-serif;
      font-weight: 400;
      font-style: normal;
      margin-top: 0px;
      margin-bottom: 0px;
      padding-top: 0px;
      padding-bottom: 0px;
    }
  /* end of ex */
#footer {
  display: flex;
  justify-content: center;
  border: solid 1px white;
  width: 993px;
  background: #24488c;
  margin-top: 0px;
}
a:link, a:visited {
  color: white;
  text-decoration: none;
  cursor: pointer;
}
a:link:active, a:visited:active {
  color: rgb(190, 190, 190);
}
/* end of footer */





/* start of fonts */
.fira-sans-thin {
  font-family: "Fira Sans", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.fira-sans-extralight {
  font-family: "Fira Sans", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.fira-sans-light {
  font-family: "Fira Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.fira-sans-regular {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.fira-sans-medium {
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.fira-sans-semibold {
  font-family: "Fira Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.fira-sans-bold {
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.fira-sans-extrabold {
  font-family: "Fira Sans", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.fira-sans-black {
  font-family: "Fira Sans", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.fira-sans-thin-italic {
  font-family: "Fira Sans", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.fira-sans-extralight-italic {
  font-family: "Fira Sans", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.fira-sans-light-italic {
  font-family: "Fira Sans", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.fira-sans-regular-italic {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.fira-sans-medium-italic {
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.fira-sans-semibold-italic {
  font-family: "Fira Sans", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.fira-sans-bold-italic {
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.fira-sans-extrabold-italic {
  font-family: "Fira Sans", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.fira-sans-black-italic {
  font-family: "Fira Sans", sans-serif;
  font-weight: 900;
  font-style: italic;
}
